[submodule "vendor/ShareKit"]
	path = Submodules/ShareKit
	url = git://github.com/ShareKit/ShareKit.git
[submodule "Submodules/SDWebImage"]
	path = Submodules/SDWebImage
	url = https://github.com/rs/SDWebImage.git
[submodule "Submodules/JASidePanel"]
	path = Submodules/JASidePanel
	url = https://github.com/gotosleep/JASidePanels.git
[submodule "Submodules/CMMR"]
	path = Submodules/CMMR
	url = git://github.com/chroman/CRMultiRowSelect.git
[submodule "Submodules/MMP"]
	path = Submodules/MMP
	url = git://github.com/jdg/MBProgressHUD.git
[submodule "Submodules/IASK"]
	path = Submodules/IASK
	url = https://github.com/futuretap/InAppSettingsKit.git
