[submodule "vendor/ShareKit"]
	path = Submodules/ShareKit
	url = git://github.com/ShareKit/ShareKit.git
[submodule "Submodules/SDWebImage"]
	path = Submodules/SDWebImage
	url = https://github.com/rs/SDWebImage.git
[submodule "Submodules/JASidePanel"]
	path = Submodules/JASidePanel
	url = https://github.com/gotosleep/JASidePanels.git
